/* roboto-regular - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/roboto-v20-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('fonts/roboto-v20-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v20-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v20-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v20-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v20-cyrillic_latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-italic - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/roboto-v20-cyrillic_latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Italic'), local('Roboto-Italic'),
       url('fonts/roboto-v20-cyrillic_latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v20-cyrillic_latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v20-cyrillic_latin-italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v20-cyrillic_latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v20-cyrillic_latin-italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/roboto-v20-cyrillic_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('fonts/roboto-v20-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v20-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v20-cyrillic_latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v20-cyrillic_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v20-cyrillic_latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/roboto-v20-cyrillic_latin-900.eot'); /* IE9 Compat Modes */
  src: local('Roboto Black'), local('Roboto-Black'),
       url('fonts/roboto-v20-cyrillic_latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v20-cyrillic_latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v20-cyrillic_latin-900.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v20-cyrillic_latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v20-cyrillic_latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	font-family: Roboto;
	min-width: 320px;
	background-color: #fbfbfb;
	scroll-behavior: smooth;
}

header {
	padding: 30px 0;
}

.swiper-pagination {
	display: none;
}

a {
	text-decoration: none;
	color: black;
	font-style: normal;
}

img {
	max-width: 100%;
}

.fixed {
  	overflow: hidden;
}

.site-container {
	overflow: hidden;
}

.container {
	max-width: 1210px;
	margin: 0 auto;
	padding: 0 20px;
}

.form__container {
	display: none;
	position: fixed;
	left: 40%;
	top: 20%;
	z-index: 15;
	box-shadow: 0 0 30px 1px;
	background-color: #fff;
	border-radius: 5px;
}

.form__block {
	display: block;
	margin: 50px 50px 0 50px;
}

.form__close-btn {
	cursor: pointer;
	width: 20px;
	height: 20px;
	margin: 10px 10px;
	float: right;
	border: none;
	background-color: transparent;
	background-image: url('img/close.png');
	background-repeat: no-repeat;
	background-position: center;
}

.form__title {
	margin-bottom: 50px;
}

.form__subtitle {
	margin-bottom: 20px;
}

.form__item {
	margin-bottom: 25px;
	padding-left: 20px;
	line-height: 35px;
	display: block;
	width: 300px;
	height: 35px;
	background-color: #fff;
	border: 1px solid  #f82370;
	border-radius: 7px;
	outline: none;
}

.form__submit {
	cursor: pointer;
	display: block;
	margin: 50px 0 ;
	width: 150px;
	height: 50px;
	font-size: 16px;
	background-color: #ff4e2e;
	border: none;
	color: #fff;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__burger {
	display: none;
	background-image: url('img/burger.png');
	width: 45px;
	height: 32px;
	background-color: transparent;
	border: none;
}

.nav__list {
	list-style-type: none;
}

.nav__item {
	display: inline-block;
	margin-right: 28px;
	transition: 200ms;
}

.nav__item :hover {
	color: #f82370;
	border-bottom: 1px solid #f82370;
	transition: color, border-bottom, 200ms;
}

.nav__link {
	color: #1f1f24;
}

.phone {
	color: #1f1f24;
	font-size: 25px;
	font-weight: 700;
}

.header__phone {
	margin-left: auto;

}

.btn {
	display: block;
	border: none;
	font-size: 18px;
	background-color: transparent;
	cursor: pointer;
	outline: none;
}

.btn--stroke {
	border: 1px solid #f82370;
	color: #f82370;
	transition: color, border-bottom, 200ms;
}

.btn--stroke:hover {
	background-color: #f82370;
	color: #fff;
	transition: color, border-bottom, 400ms;
}


.header__call-btn {
	margin-left: 30px;
	height: 45px;
	width: 207px;
	font-size: 16px; 
}

.about {
	padding-top: 30px;
	position: relative;
	overflow: hidden;
}

.about__container {
	display: flex;
	justify-content: space-between;
}

.fly-tag {
	color: transparent;
	font-weight: 700;
	background-image: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
	-webkit-background-clip: text;
	position: absolute;
    left: 0;
	top: 0;
	cursor: default;
}

.fly-tag--braces {
	font-size: 48px;
	left: 130px;
	transform: rotate(25deg);
}

.fly-tag--hash {
	font-size: 57px;
	top: 290px;
	left: 200px;
	transform: rotate(15deg);
}

.fly-tag--div-top {
	left: 650px;
	top: 70px;
	font-size: 30px;
	transform: rotate(-15deg);
}

.fly-tag--div-bot {
	left: 700px;
	top: 430px;
	font-size: 37px;
	transform: rotate(30deg);
}

.fly-tag--slash {
	top: 600px;
	left: 350px;
	font-size: 40px;
	transform: rotate(-15deg);
}

.about-info {
	position: relative;
	z-index: 1;
	padding-top: 152px;
}

.about__title {
	font-size: 80px;	
	color: #1f1f24;
	font-weight: 900;
	white-space: nowrap;
}

.about__title--sub {
	margin-top: 15px;
	font-size: 25px;
	color: #8993ad;
	display: block;
	font-weight: normal;
}

.btn--fill {
	background-color: #ff4e2e;
	border: none;
	color: #fff;
	transition: transform, 100ms;
}

.btn--fill:hover {
	transform: scale(1.03);
	transition: transform, 100ms;
}

.about__btn {
	width: 270px;
	height: 60px;
	margin-top: 45px;
	font-size: 18px;
}

.about__man {
	position: relative;
	z-index: 10;
	margin-right: -80px;
}

.about__ellipse {
	position: absolute;
	right: -9px;
	bottom: -140px;
	z-index: 0;
}

#services {
	margin: 0 auto;
	margin-top: 84px;
	background-color: #fff;
}

.services__title {
	margin-bottom: 87px;
}

.title {
	font-size: 54px;
	color: #262626;
	text-align: center;
}

.items-block {
	display: flex;
}


.services__item {
	text-align: center;
}

.item-text {
	display: block;
	font-size: 20px;
	color: #8993ad;
}

.services__item-text {
	margin-top: 15px;
	line-height: 1.5;
}

.center-btn {
	margin: 0 auto;
	margin-top: 91px;
	width: 270px;
	height: 60px;
}

#works {
	margin-top: 192px;
}

.works__swiper-container {
	min-width: 1170px;
	margin-top: 100px;
}

.works__wrapper {
	text-align: center;
}

.works__item {
	text-align: center;
	margin-right: 20px;
	z-index: 1;
}

.works__item-text{
	margin-top: 30px;
	display: block;
	text-align: center;
}

.works__link {
	display: block;
}

.works__arrow {
	display: inline-block;
	width: 61px;
	height: 60px;
	background-image: url('img/arrow.png');
	background-repeat: no-repeat;
	border-radius: 100%;
	z-index: 10;
	outline: none;
}

.swiper-button-prev::after {
	display: none;
}

.swiper-button-next::after {
	display: none;
}

.swiper-button-prev {
	position: relative;
	left: -20px;
	bottom: 210px;
	transition: 200ms;
}

.swiper-button-prev:hover {
	transition: transform, 200ms;
	transform: scale(1.1);
}

.swiper-button-next {
	position: relative;
	float: right;
	right: -20px;
	bottom: 210px;
	transform: rotate(180deg);
	transition: 200ms;
}

.swiper-button-next:hover {
	transition: transform 200ms;
	transform: scale(1.1) rotate(180deg);
}

.works__btn {
	margin-top: 53px;
}

#price {
	margin-top: 102px;
	background: linear-gradient(45deg, #ff8f5a, #ff2f96);
}

.price__container {
	padding: 75px 30px 82px 135px;
	color: #fff;
}

.price__title {
	padding-bottom: 35px;
	font-size: 45px;
	line-height: 1.3;
}

.price__subtitle {
	font-size: 18px;
	line-height: 1.6;
}

.footer {
	padding-top: 82px;
}

.footer__container {
	display: flex;
	justify-content: space-between;
	padding-right: 42px;
	padding-bottom: 78px;
}

.nav__item--footer {
	display: block;
	margin: 0;
	padding: 0;
	margin-bottom: 11px;
	font-size: 18px;
}

.footer__nav-link {
	color: #8993ad;
}

.footer__contacts {
	margin-right: -90px;
}

.footer__phone {
	font-weight: normal;
	padding-left: 40px;
	background-image: url('img/footer-phone.png');
	background-repeat: no-repeat;
	background-position: left center;
}

.footer__email {
	font-size: 25px;
	margin-top: 30px;
	padding-left: 40px;
	background-image: url('img/footer-email.png');
	background-repeat: no-repeat;
	background-position: left center;
}

.footer__btn {
	width: 247px;
	height: 45px;
	font-size: 16px;
	margin-top: -5px;
}

.footer__socials {
	margin-top: 30px;
}

.footer__socials-list {
	list-style-type: none;
}

.footer__socials-item {
	display: inline-block;
	margin-right: 10px;
}

.footer__socials-link {
	display: block;
	width: 40px;
	height: 35px;
	background-image: url('img/social-sprite.png');
	background-repeat: no-repeat;
}

.socials-link-vk {
	background-position: 0 0;
}

.socials-link-fb {
	background-position: -55px 0;
}

.socials-link-tw {
	background-position: -110px 0;
}

.socials-link-inst {
	background-position: -165px 0;
}

.footer__socials :last-child {
	margin: 0;
}

.footer__copyright {
	color: #fff;
	background-color: #31293c;
	text-align: center;
	padding: 27px 0;
}

												/*TODO доработать адаптивность*/

@media (max-width: 1120px) {
	.about__title {
		font-size: 54px;
	}
}

@media (max-width: 1024px) {

	.nav__burger {
		display: block;
	}

	.header__nav-list {
		display: none;
	}

	.about__ellipse {
		right: 0;
		bottom: -110px;
	}

	.about__man {
		margin-right: 0;
	}

	.about__btn {
		width: 320px;
	}

	.items-block {
		flex-wrap: wrap;
		justify-content: center;
		max-width: 700px;
		margin: 0 auto;
	}

	.services__item {
		flex-basis: 260px;
		margin-bottom: 80px;
		margin-right: 100px;
	}

	.items-block :nth-child(2n) {
		margin-right: 0;
	}

	.container {
		padding: 0 40px;
	}
}

@media (max-width: 992px) {

	.container {
		max-width: 950px;
	}

	.about__man {
		max-width: 300px;
	}

	.about__title {
		font-size: 45px;	
	}

	.about__title--sub {
		font-size: 20px;
	}
}

@media (max-width: 768px) {

	.about {
		overflow: initial;
	}

	.price__title {
		font-size: 35px;
	}

	.footer__container {
		display: flex;
		justify-items: flex-start;
	}



	.header__phone {
		margin: auto;
	}

	.header__call-btn {
		width: 26px;
        height: 26px;
        border: 1px solid #fa0891;
		border-radius: 100%;
		background-image: url('img/small-call-btn.png');
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: center;
		font-size: 0;
	}

	.about__container {
		display: flex;
		justify-content: center;
		flex-direction: column-reverse;
	}

	.about-info {
		text-align: center;
		padding-top: 100px;
	}

	.about__ellipse {
		bottom: auto;
		top: 0;
		right: 0;
		max-width: none;
	
	}

	.about__man {
		margin: 0 auto;	
	}
}